[Unit]
Description = Campi Server using Flask and Gunicorn
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/pi_cam_server
ExecStart=/usr/bin/gunicorn --workers 2 --threads 2 --bind 0.0.0.0:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
