<!DOCTYPE html>

<html>
    <head>
        <title>Campi Server</title>
    </head>
    <body>
        <img id="video" src="{{ url_for('video_feed') }}" width="640">


        <div class="controls">
            <label for="device">Device: </label> 
            <select id="device"></select>

            <label for="codec">Codec: </label> 
            <select id="codec"></select>

            <label for="resolution">Resolution: </label> 
            <select id="resolution"></select>

            <label for="fps">FPS: </label>
            <select id="fps"></select>

            <button onclick="applyConfig()"></button>

        </div>

        <script>
            let devices={};

            async function loadDevices(){
                const res = await fetch("/devices");
                devices = await res.json();

                const deviceSel = document.getElementById("device");
                deviceSel.innerHTML="";

                for (const [name, info] of Object.entries(devices)){
                    const opt = document.createElement("option");
                    opt.value = info.device;
                    opt.dataset.name = name;
                    opt.textContent = `${name} (${info.device})`;
                    deviceSel.appendChild(opt);
                }
                updateCodecs();
            }


            function updateCodecs(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codecSel = document.getElementById("codec");
                codecSel.innerHTML = "";

                devInfo.formats.forEach( fmt => {
                    const opt = document.createElement("option");
                    opt.value = fmt.codec;
                    opt.textContent = `${fmt.codec} (${fmt.desc})`;
                    codecSel.appendChild(opt);
                    }
                );

                updateResolutions();

            }

            function updateResolutions(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codec = document.getElementById("codec").value;
                const resSel = document.getElementById("resolution");
                resSel.innerHTML = "";

                const fmt = devInfo.formats.find(f => f.codec === codec);

                if (fmt) {
                    fmt.resolutions.forEach(r => {
                        const opt = document.createElement("option");
                        opt.value = r.resolution;
                        opt.textContent = r.resolution;
                        resSel.appendChild(opt);
                        }
                    );
                }

                updateFPS();
            }


            function updateFPS(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codec = document.getElementById("codec").value;
                const res = document.getElementById("resolution").value;
                const fpsSel = document.getElementById("fps");
                fpsSel.innerHTML = "";

                const fmt = devInfo.formats.find(f => f.codec === codec);
                const res_fmt = fmt.resolutions.find(r=> r.resolution ===res);

                if (res_fmt) {
                    res_fmt.fps.forEach(fs => {
                        const opt = document.createElement("option");
                        opt.value = fs;
                        opt.textContent = fs;
                        fpsSel.appendChild(opt);
                        }
                    );
                }

            }


            async function applyConfig() {
                const device = document.getElementById("device").value;
                const codec = document.getElementById("codec").value;
                const resolution = document.getElementById("resolution").value;
                const fps = document.getElementById("fps").value;


                await fetch("/configure",{
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({device, codec, resolution, fps})
                    }
                );

                const img = document.getElementById("video");
                img.src = "{{ url_for('video_feed') }}" + "?" + new Date().getTime();

            }

            document.getElementById("device").addEventListener("change", updateCodecs);
            document.getElementById("codec").addEventListener("change", updateResolutions);
            document.getElementById("resolution").addEventListener("change", updateFPS);

            
            loadDevices();

        </script>
    </body>
</html>