<!DOCTYPE html>

<html>
    <head>
        <title>Campi Server</title>

        <style>
            body{ font-family: sans-serif;}
            .controls {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap:0.5em;
                margin-top: 0.5em;
            }

            .controls label {
                margin-right: 0.3em;
            }

            .controls select, 
            .controls button {
                padding: 0.3em 0.6em;
                border-radius: 4px;
            }

            #video {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }

            .video-container {
                width: 90%;
                max-width: 800px;
                margin: 0 auto;
            }

        </style>


    </head>
    <body>
        <div class="video-container">
            <img id="video" src="{{ url_for('video_feed') }}">
        </div>

        <div class="controls">
            <!-- <label for="device">Device: </label>  -->
            <select id="device">
                <option value="" disabled selected>Select device</option>
            </select>

            <!-- <label for="codec">Codec: </label>  -->
            <select id="codec">
                <option value="" disabled selected>Select codec</option>
            </select>

            <!-- <label for="resolution">Resolution: </label>  -->
            <select id="resolution">
                <option value="" disabled selected>Select resolution</option>
            </select>

            <!-- <label for="fps">FPS: </label> -->
            <select id="fps">
                <option value="" disabled selected>Select fps</option>
            </select>

            <button onclick="applyConfig()">Configure</button>

        </div>

        <script>
            let devices={};

            async function loadDevices(){
                const res = await fetch("/devices");
                devices = await res.json();

                const deviceSel = document.getElementById("device");
                deviceSel.innerHTML="";

                for (const [name, info] of Object.entries(devices)){
                    const opt = document.createElement("option");
                    opt.value = info.device;
                    opt.dataset.name = name;
                    opt.textContent = `${name} (${info.device})`;
                    deviceSel.appendChild(opt);
                }
                updateCodecs();
            }


            function updateCodecs(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codecSel = document.getElementById("codec");
                codecSel.innerHTML = "";

                devInfo.formats.forEach( fmt => {
                    const opt = document.createElement("option");
                    opt.value = fmt.codec;
                    opt.textContent = `${fmt.codec} (${fmt.desc})`;
                    codecSel.appendChild(opt);
                    }
                );

                updateResolutions();

            }

            function updateResolutions(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codec = document.getElementById("codec").value;
                const resSel = document.getElementById("resolution");
                resSel.innerHTML = "";

                const fmt = devInfo.formats.find(f => f.codec === codec);

                if (fmt) {
                    fmt.resolutions.forEach(r => {
                        const opt = document.createElement("option");
                        opt.value = r.resolution;
                        opt.textContent = r.resolution;
                        resSel.appendChild(opt);
                        }
                    );
                }

                updateFPS();
            }


            function updateFPS(){
                const selected_device = document.getElementById("device").selectedOptions[0]
                const devName = selected_device.dataset.name;
                const devInfo = devices[devName];
                const codec = document.getElementById("codec").value;
                const res = document.getElementById("resolution").value;
                const fpsSel = document.getElementById("fps");
                fpsSel.innerHTML = "";

                const fmt = devInfo.formats.find(f => f.codec === codec);
                const res_fmt = fmt.resolutions.find(r=> r.resolution ===res);

                if (res_fmt) {
                    res_fmt.fps.forEach(fs => {
                        const opt = document.createElement("option");
                        opt.value = fs;
                        opt.textContent = fs;
                        fpsSel.appendChild(opt);
                        }
                    );
                }

            }


            async function applyConfig() {
                const device = document.getElementById("device").value;
                const codec = document.getElementById("codec").value;
                const resolution = document.getElementById("resolution").value;
                const fps = document.getElementById("fps").value;


                await fetch("/configure",{
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({device, codec, resolution, fps})
                    }
                );

                const img = document.getElementById("video");
                img.src = "{{ url_for('video_feed') }}" + "?" + new Date().getTime();

            }

            document.getElementById("device").addEventListener("change", updateCodecs);
            document.getElementById("codec").addEventListener("change", updateResolutions);
            document.getElementById("resolution").addEventListener("change", updateFPS);

            
            loadDevices();

        </script>
    </body>
</html>